.sort {
  position: relative;
  width: 260px;
}

/* ===== КНОПКА ===== */

.sort__button {
  width: 100%;
  padding: 12px 14px;
  background: #1e1e1e;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  color: #f1f1f1;
  font-size: 14px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: background 0.2s, border 0.2s, transform 0.1s;
}

.sort__button:hover {
  background: #242424;
  border-color: #3a3a3a;
}

.sort__button:active {
  transform: scale(0.98);
}

.sort__button.active {
  border-color: #444;
}

/* ===== СТРЕЛКА ===== */

.sort__arrow {
  transition: transform 0.25s ease;
}

.sort__arrow.open {
  transform: rotate(180deg);
}

/* ===== СПИСОК ===== */

.sort__list {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  right: 0;

  background: #1e1e1e;
  border: 1px solid #2c2c2c;
  border-radius: 12px;

  padding: 6px 0;
  z-index: 10;

  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;

  transition: opacity 0.25s ease, transform 0.25s ease;
}

.sort__list.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ===== ЭЛЕМЕНТЫ ===== */

.sort__item {
  padding: 12px 16px;
  font-size: 14px;
  color: #eaeaea;
  cursor: pointer;

  opacity: 0;
  transform: translateX(-6px);

  transition: background 0.15s, color 0.15s, opacity 0.25s ease,
    transform 0.25s ease;
}

.sort__list.open .sort__item {
  opacity: 1;
  transform: translateX(0);
}

.sort__item:hover {
  background: #2a2a2a;
}

.sort__item.active {
  background: #333;
  color: #fff;
}
