.mini-skeleton {
  width: 600px;
  height: 55px;
  display: inline-block;
  border-radius: 8px;
  background-color: #eee;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #eee;
  }
  50% {
    background-color: #ddd;
  }
  100% {
    background-color: #eee;
  }
}
